html {
  background: var(--bg);
  color: var(--text-primary);

  transition:
    background-color var(--transition-normal),
    color var(--transition-normal);
}

body {
  min-height: 100dvh;

  background: var(--bg);
  color: var(--text-primary);

  font-family: var(--font-family);

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

app-root {
  display: block;
  min-height: 100dvh;
}

a {
  color: var(--primary);
  text-decoration: none;

  &:hover {
    color: var(--primary-hover);
  }
}